<article>
	<h3>Nashville Software School January 2017-Present</h3>
		<section>
			<li>Apprentice Software Developer</li>
			<li>Intensive part-time software development bootcamp focusing on full stack development fundamentals and problem solving. The final half of the program are executed in a simulated company environment with Scrum methodology.</li>
			<li>Hands on application of OOP fundamentals and SOLID principles
			through group and individual projects reflecting real world business problems</li>
			<li>Source code version control with Git/GitHub</li>
			<li>Project management/tracking with Trello and Github Projects & Issue Tracking</li>
			<li>JavaScript fundamentals leveraging DRY, modular, readable code and reusable components</li>
			<li>Built single-page applications with HTML, CSS, and JavaScript libraries like jQuery</li>
			<li>Task Automation with Grunt: Linting with JSHint, module bundling with Browserify, SASS compilation</li>
			<li>Styled applications with CSS Frameworks Bootstrap and Materialize and wrote custom styles with SASS</li>
			<li>Deployed applications through Firebase, GitHub Pages, Heroku and Azure</li>
			<li>Leveraged VMware for virtualizing a Windows environment on Mac to utilize Visual Studio 2015 IDE</li>
			<li>Practiced TDD with mocking framework Moq</li>
			<li>Application design through white boarding dependencies and building ERD’s</li>
			<li>Created and modified database design/content using SQL, ADO.NET,
			Dapper, and Entity Framework with migrations</li>
			<li>Created RESTful APIs with C#/.NET using WebAPI Leveraged Razor for creating and editing MVC applications</li>
		</section>
</article>
<article>
	<h3>Home Depot 2010-Present</h3>
		<section>
			<li>2010 - Started as a cashier, moved to head cashier.</li> 
			<li>2011 - Paint Associate.</li>
			<li>2012 - Paint Department Supervisor.</li>
			<li>Grew paint department sales by 10%.</li> 
			<li>Reduced shrink from 1.2% to .94%.</li>
			<li>2014 - 2016 - Electrical Department Supervisor.</li>
			<li>Grew electrical department sales by 6%.Reduced shrink from .94% to .88%.</li>
			<li>2016 - Garden Department Supervisor.</li>
			<li>2016 - Present- Key Carrier.</li>
			<li>Responsibility include: Interviewing new employees, opening and closing building, conflict resolution, training, and directing employees.</li></p>
		</section>
</article>
<article>
	<h3>35 North Coffee Co. 2010-2011</h3>
		<section>
			<li>Co-founder and Graphic Designer</li>
		</section>
</article>
<article>
	<h3>A Voice for the Voiceless, South Africa 2008-2010</h3>
		<section>
			<li>Co-founder of “A Voice for the Voiceless SA”. An organization specializing in using photography to raise awareness on social issues in Africa:</li>
            <li>Photo editor for the book “A Voice For Life.”  </li>
            <li>Covered stories such as: Child Headed Homes, A Fatherless Generation, Human Trafficking, Child Abandonment, Orphans, Street Children, and so on.  </li>
		</section>
</article>

<article>
	<h3>How To Contact Me</h3>
	<ul class="socialButton">
		<button class="btn btn-default" onclick="window.location.href='mailto:matt.hensley777@gmail.com'">
			<img class="social" src="/images/email-icon.png">
		</button>
		<button class="btn btn-default" onclick="window.location.href='https://github.com/Matthensley777'">
			<img class="social" src="/images/GitHub-Social-Network-communicate-page-curl.png">
		</button>
		<button class="btn btn-default" onclick="window.location.href='https://www.linkedin.com/in/matthew-hensley-2b75b3159/'">
			<img class="social" src="images/linked-in.png">
		</button>
		
	</ul>
</article>
<br>

<br>
<footer>Copyright Matt Hensley</footer>