<article>
	<h3>How To Contact Me</h3>
	<ul class="socialButton">
		<button class="btn btn-default" onclick="window.location.href='mailto:matt.hensley777@gmail.com'">
			<img class="social" src="/images/email-icon.png">
		</button>
		<button class="btn btn-default" onclick="window.location.href='https://github.com/Matthensley777'">
			<img class="social" src="/images/GitHub-Social-Network-communicate-page-curl.png">
		</button>
		<button class="btn btn-default" onclick="window.location.href='http://www.facebook.com'">
			<img class="social" src="images/facebook.ico">
		</button>
		<button class="btn btn-default" onclick="window.location.href='http://www.twitter.com'">
			<img class="social" src="images/twitter.png">
		</button>
		
	</ul>
</article>
<br>
<footer>Copyright Matt Hensley</footer>