
body {
	background-color: lightgrey;
}

/*#blogHolder {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
}

.blogHolder {
	border: solid black 2px;
	max-width: 300px;
	margin: 5px;
	padding: 5px;
}*/

.title {
	text-align: center;
}

.date {
	text-align: center
}